In [1]:
from __future__ import print_function
import pandas as pd
import numpy as np
import os

In [2]:
data_dir = '../Competition_170323/'

In [13]:
train_path = os.path.join(data_dir, 'train.csv')
test_path = os.path.join(data_dir, 'test.csv')

In [14]:
train_raw_data = pd.read_csv(train_path)
test_raw_data = pd.read_csv(test_path)

In [15]:
train_raw_data.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,...,Feature_47_flag,Feature_48_flag,Feature_49_flag,Feature_50_flag,Feature_51_flag,Feature_52_flag,Feature_53_flag,Feature_54_flag,Feature_55_flag,Target
0,-0.082425,0.127111,0.332527,0.123086,-0.300770,-0.002215,-0.118903,-1.325995,NaN,-0.010424,...,0,1,0,0,1,0,1,0,0,1
1,-0.516935,-0.657969,-0.423185,-0.112894,0.273241,-0.002067,-0.118903,0.775258,NaN,-0.004583,...,0,1,0,0,1,0,0,0,1,0
2,0.149320,-0.278374,-0.553370,-0.204604,0.589307,-0.002351,-0.118903,1.695687,1.583616,-0.010407,...,0,0,0,0,0,0,0,1,1,0
3,-1.761833,-1.008883,-1.545531,-0.795354,-1.685710,-0.002424,-0.118903,0.108760,-0.209150,-0.010520,...,0,1,0,0,0,0,0,0,1,0
4,-0.163537,-0.343035,-0.080191,-0.023187,0.379131,-0.002313,-0.118903,-0.417900,-1.461623,-0.008521,...,0,1,0,1,0,0,0,1,1,0

In [16]:
test_raw_data.head()

,ID,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_46_flag,Feature_47_flag,Feature_48_flag,Feature_49_flag,Feature_50_flag,Feature_51_flag,Feature_52_flag,Feature_53_flag,Feature_54_flag,Feature_55_flag
0,22824,-0.290187,0.488677,0.154181,0.245028,-0.325906,-0.001945,-0.118903,0.379649,NaN,...,0,0,0,0,0,0,0,0,1,1
1,17383,0.207090,0.052973,-0.040674,-0.035330,0.022315,-0.002347,-0.118903,0.109704,-0.049374,...,0,0,1,0,0,0,0,0,0,1
2,8743,0.631392,-0.109401,0.026074,-0.206174,0.096120,-0.002191,-0.118903,1.388045,1.245544,...,0,0,0,0,0,0,0,0,0,1
3,45258,0.000538,0.147305,0.004411,-0.035312,-0.267377,-0.002084,-0.118903,-1.401608,NaN,...,1,0,0,0,1,0,0,1,0,1
4,60474,-1.220941,-0.808174,-0.747683,-0.264087,NaN,-0.002446,-0.118903,-1.719372,NaN,...,0,1,1,0,0,1,1,0,1,0

# 尝试使用每一个属性的均值来填充缺失值

In [23]:
for col_name in train_raw_data.columns:
    if not col_name.endswith('flag'):
        train_raw_data[col_name].fillna(train_raw_data[col_name].mean(), inplace=True)

In [24]:
for col_name in test_raw_data.columns:
    if (col_name != 'ID') and (not col_name.endswith('flag')):
        test_raw_data[col_name].fillna(test_raw_data[col_name].mean(), inplace=True)

In [25]:
train_raw_data.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,...,Feature_47_flag,Feature_48_flag,Feature_49_flag,Feature_50_flag,Feature_51_flag,Feature_52_flag,Feature_53_flag,Feature_54_flag,Feature_55_flag,Target
0,-0.082425,0.127111,0.332527,0.123086,-0.300770,-0.002215,-0.118903,-1.325995,-6.631284e-13,-0.010424,...,0,1,0,0,1,0,1,0,0,1
1,-0.516935,-0.657969,-0.423185,-0.112894,0.273241,-0.002067,-0.118903,0.775258,-6.631284e-13,-0.004583,...,0,1,0,0,1,0,0,0,1,0
2,0.149320,-0.278374,-0.553370,-0.204604,0.589307,-0.002351,-0.118903,1.695687,1.583616e+00,-0.010407,...,0,0,0,0,0,0,0,1,1,0
3,-1.761833,-1.008883,-1.545531,-0.795354,-1.685710,-0.002424,-0.118903,0.108760,-2.091505e-01,-0.010520,...,0,1,0,0,0,0,0,0,1,0
4,-0.163537,-0.343035,-0.080191,-0.023187,0.379131,-0.002313,-0.118903,-0.417900,-1.461623e+00,-0.008521,...,0,1,0,1,0,0,0,1,1,0

In [26]:
test_raw_data.head()

,ID,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_46_flag,Feature_47_flag,Feature_48_flag,Feature_49_flag,Feature_50_flag,Feature_51_flag,Feature_52_flag,Feature_53_flag,Feature_54_flag,Feature_55_flag
0,22824,-0.290187,0.488677,0.154181,0.245028,-0.325906,-0.001945,-0.118903,0.379649,-0.128187,...,0,0,0,0,0,0,0,0,1,1
1,17383,0.207090,0.052973,-0.040674,-0.035330,0.022315,-0.002347,-0.118903,0.109704,-0.049374,...,0,0,1,0,0,0,0,0,0,1
2,8743,0.631392,-0.109401,0.026074,-0.206174,0.096120,-0.002191,-0.118903,1.388045,1.245544,...,0,0,0,0,0,0,0,0,0,1
3,45258,0.000538,0.147305,0.004411,-0.035312,-0.267377,-0.002084,-0.118903,-1.401608,-0.128187,...,1,0,0,0,1,0,0,1,0,1
4,60474,-1.220941,-0.808174,-0.747683,-0.264087,-0.148779,-0.002446,-0.118903,-1.719372,-0.128187,...,0,1,1,0,0,1,1,0,1,0

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [29]:
train_X = train_raw_data.ix[:, :-1].values
train_y = train_raw_data.ix[:, -1].values

In [33]:
X_train, X_test, y_train, y_test = train_test_split(train_X, train_y, test_size=0.3, random_state=1)

In [46]:
clf = RandomForestClassifier(n_estimators=200, max_depth=6, n_jobs=-1, verbose=1)

In [42]:
clf.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   29.8s
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:   31.1s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=200, n_jobs=-1, oob_score=False,
            random_state=None, verbose=1, warm_start=False)

In [43]:
pred_y = clf.predict_proba(X_test)

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.6s
[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed:    0.6s finished

In [44]:
from sklearn.metrics import log_loss

In [45]:
log_loss(y_test, pred_y)

0.69251331616516687

In [47]:
clf.fit(train_X, train_y)

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   11.1s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   48.3s
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:   50.5s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=6, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=200, n_jobs=-1, oob_score=False,
            random_state=None, verbose=1, warm_start=False)

In [48]:
test_X = test_raw_data.ix[:, 1:].values

In [49]:
test_id = test_raw_data.ix[:, 0].values

In [50]:
pred_y = clf.predict_proba(test_X)

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.6s
[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed:    0.6s finished

In [51]:
pred_y.shape

(63545, 2)

In [55]:
pred_y = pred_y[:, 1]

In [56]:
pred_y.shape

(63545,)

In [57]:
test_id.shape

(63545,)

In [70]:
result_path = os.path.join(data_dir, 'prediction.csv')

In [71]:
result_file = open(result_path, 'w')

In [72]:
head = '"ID","Target"\n'
result_file.write(head)

In [73]:
for s_id, s_pro in zip(test_id, pred_y):
    line = str(s_id) + ',' + str(s_pro) + '\n'
    result_file.write(line)

In [74]:
result_file.close()